---
import { Instagram, Twitter, Github, Gitlab, Linkedin } from 'lucide-react';
---

<footer id='footer' class='relative pb-10 sm:pb-4'>
  <div class='py-2 flex flex-col justify-center items-center'>
    <p
      tabindex='0'
      class='focus:outline-none mt-6 text-stone-900 text-xs lg:text-sm mb-4 leading-none'
    >
      Developed with ❤️ by <a
        href='https://github.com/pedroagribeiro'
        target='_blank'
        class='hover:text-green-900'>Pedro Ribeiro</a
      >
    </p>
  </div>
  <div class='flex space-x-4 items-center justify-center text-stone-900'>
    <a href='https://instagram.com/pedroagribeiro' target='_blank'>
      <Instagram size={20} />
    </a>
    <a href='https://twitter.com/pedroagribeiro' target='_blank'>
      <Twitter size={20} />
    </a>
    <a href='https://github.com/pedroagribeiro' target='_blank'>
      <Github size={20} />
    </a>
    <a href='https://gitlab.com/pedroagribeiro' target='_blank'>
      <Gitlab size={20} />
    </a>
    <a
      href='https://www.linkedin.com/in/pedro-ribeiro-34806b173/'
      target='_blank'
    >
      <Linkedin size={20} />
    </a>
  </div>
</footer>
